[2014-07-05 23:02] belovachap opened #1 "Build error - Debian 7 64 bit"
Running the command `make -f makefile.unix` on master causes the following output:

[code]

[2014-07-05 23:10] belovachap opened #2 "Devcoin based version numbers"
I don't think it makes sense to be using the Bitcion wallet version number if we're going to maintain this project. I'd propose making our next client release 1.0.0 and go from there.

This ticket would require us to update the version number in the client to read out something like 1.0.0rc1-hashasdf

[2014-07-06 15:16] belovachap opened #3 "Windows Build"
Need a Windows build for 1.0.0

[2014-07-06 15:37] belovachap opened #4 "Mac OS X Build"
Need a Mac OS X build for the 1.0.0 release.

[2014-07-06 15:38] belovachap opened #5 "Ubuntu Build"
Need an Ubuntu build for 1.0.0

[2014-07-06 15:38] belovachap opened #6 "Debian Build"
Need a Debian build for 1.0.0

[2014-07-06 19:33] belovachap opened #7 "Compiler warnings - unix"
There are a substantial number of compiler warnings when building on unix. We should probably turn on the warning as error flag in our make files and start knocking these out.

[2014-07-06 19:53] belovachap opened #8 "State of automated tests?"
I tried to build the tests on unix and they failed to compile. Anyone know the state of the Devcoin core automated tests? I'd be really happy to see them brought back to life and nursed to good health :)

[2014-07-06 20:08] belovachap opened #9 "% synced progress bar is wrong"
devcoin-qt knows how many weeks behind it is while syncing but does not accurately reflect it in the progress bar.
![progress_bar_bug](https://cloud.githubusercontent.com/assets/396781/3489836/1e1f5f02-0549-11e4-97ef-d3d8a08c7d16.png)

[2014-07-06 23:47] belovachap opened #10 "Continuous integration"
I've seen Travis-CI used pretty effectively with some python projects. Can we get CI setup for Devcoin core so we can keep our code in good condition as we develop?
# hopesanddreams :p

[2014-07-07 13:21] #8 closed, assigned to belovachap

[2014-07-07 13:24] belovachap opened #11 "test_devcoin, tests failing"
There appear to be legitimate test failures if you run test_devcoin. Devcoin modified the Bitcoin source in a few places without updating the expectations described in the automated tests. This ticket is for going in, understanding why the tests are failing and updating them to describe Devcoin expectations.

[2014-07-08 13:46] belovachap opened #12 "Do we need README.txt?"
Why is there a README.txt and a README.md? Seems like the .txt should be absorbed into various doc/ documents or the markdown file.

Ticket is for figuring out if there's any useful info in README.txt, moving it to better homes, and deleting it.

[2014-07-08 15:55] belovachap opened #14 "Name of binaries (Devoind, devcoind, Devcoin-qt, devcoin-qt, Devcoin-Qt)?"
There's some variation on the capitalization of the binaries we produce last I checked. This might have been addressed in sidhujag's latest stuff but my vote would be to standardize on lower casing (e.g. "devcoind" and "devcoin-qt"). Open to other ideas, just looking for some consistency :)

[2014-07-08 15:58] belovachap opened #15 "devcoind Debian 64 bit crash"
I built master and a good way into the initial sync devcoind crashed with the output below. Restarting the daemon seems to have been an acceptable work-around so far, but tracked bugs are happy bugs that will, hopefully, soon be dead bugs.

[code]

[2014-07-08 16:00] #1 closed, assigned to belovachap

[2014-07-08 17:01] belovachap opened #16 "Ubuntu Upgrade Path"
It struck me this morning that it would be pretty poor form to release a backward incompatible version of the client without some idea of how to handle all the existing Devcoin client users.

We need to document on the devtome how we think the user upgrade experience should go. Even if it's literally: "Install new client in non-conflicting manner (e.g. change the data-dir temporarily), copy wallet

[2014-07-08 17:02] belovachap opened #17 "Debian Upgrade Path"
It struck me this morning that it would be pretty poor form to release a backward incompatible version of the client without some idea of how to handle all the existing Devcoin client users.

We need to document on the devtome how we think the user upgrade experience should go. Even if it's literally: "Install new client in non-conflicting manner (e.g. change the data-dir temporarily), copy wallet

[2014-07-08 17:03] belovachap opened #18 "Mac OS X Upgrade Path"
It struck me this morning that it would be pretty poor form to release a backward incompatible version of the client without some idea of how to handle all the existing Devcoin client users.

We need to document on the devtome how we think the user upgrade experience should go. Even if it's literally: "Install new client in non-conflicting manner (e.g. change the data-dir temporarily), copy wallet

[2014-07-08 17:03] belovachap opened #19 "MSW Upgrade Path"
It struck me this morning that it would be pretty poor form to release a backward incompatible version of the client without some idea of how to handle all the existing Devcoin client users.

We need to document on the devtome how we think the user upgrade experience should go. Even if it's literally: "Install new client in non-conflicting manner (e.g. change the data-dir temporarily), copy wallet

[2014-07-09 16:40] belovachap opened #20 "Apple, Ubuntu, MS app stores?"
This isn't really fleshed out but I wanted to get a stub of a ticket going. Namecoin has enjoyed a recent resurgence in dev activity and it looks like they're shooting for Apple App Store inclusion https://github.com/namecoin/namecoin/issues/132

Although I am of the mindset that people should be looking over and talking about the code that holds our community together, it's just not realistic to

[2014-07-12 15:51] belovachap opened #24 "Do you want to make a testnet? It has to be a testnet."
It sounds like we don't have much of a testnet (see dev forum and checkpoints.cpp comments). I think we'll appreciate having one in the long-run because it gives developers (core team and otherwise) a place to try out new software, hardware, applications, ideas etc. And it's possible to successfully mine with drastically less hash power since testnet tokens are way less valuable than prodnet devco

[2014-07-16 22:43] DevElCuy opened #26 "Not compiling on Debian 6 and Ubuntu 10"

[2014-07-18 15:29] belovachap opened #27 "warning: ‘globalDownloadIndex’ defined but not used"
Ticket is for researching and, I hope, deleting this globalDownloadIndex variable that the compiler keeps telling me that we don't use:

[code]

[2014-07-21 19:14] belovachap opened #28 "Update peers list"
Not sure what this entails but people on the #devcoin irc have noticed that it takes a long time for the client to find nodes initially. There's a good chance that the peers list we ship is outdated so here's a ticket to update that list.

[2014-08-05 23:46] Smeagol-Gollum opened #30 "What is the latest stable version of Devcoin? Should we add tags? (like bitcoin)"
Should tags be added so that people can keep up with development?

[2014-08-05 23:50] Smeagol-Gollum opened #31 "Cool QT"
Making an aesthetically pleasing qt may help speed up user adoption.  (Megacoin-qt is a good example)

https://ip.bitcointalk.org/?u=http%3A%2F%2Fi1367.photobucket.com%2Falbums%2Fr783%2Fmegacoin%2Fnewclient2_zpsf6457f75.jpg&t=542&c=k6TSa05WP9gpLQ

[2017-06-02 18:49] busytoby opened #34 "Build Failure on Debian Common To Several Other Coins"
g++ -c -m64 -pipe -fstack-protector-all -D_FORTIFY_SOURCE=2 -O2 -D_REENTRANT -fdiagnostics-show-option -Wall -Wextra -Wformat -Wformat-security -Wno-unused-parameter -Wstack-protector -fPIC -DQT_GUI -DBOOST_THREAD_USE_LIB -DBOOST_SPIRIT_THREADSAFE -DUSE_UPNP=1 -DSTATICLIB -DUSE_IPV6=1 -DHAVE_BUILD_INFO -DLINUX -D_FILE_OFFSET_BITS=64 -DQT_NO_DEBUG -DQT_WIDGETS_LIB -DQT_GUI_LIB -DQT_NETWORK_LIB -DQT

[2017-10-04 02:55] 86me commented on #34
Getting similar BIGNUM issues trying to compile skidoo. Maybe an issue with Boost and/or SSH?
[code]

[2017-12-07 22:43] develCuy commented on #34
@86me @busytoby please check #33 and confirm this issue is not duplicated.

[2018-02-12 23:58] busytoby commented on #34
Turns out this fix is really simple
diff --git a/src/rpcrawtransaction.cpp b/src/rpcrawtransaction.cpp
index 4f82696..991288f 100644
--- a/src/rpcrawtransaction.cpp
+++ b/src/rpcrawtransaction.cpp
@@ -238,7 +238,7 @@ Value listunspent(const Array& params, bool fHelp)
             CTxDestination address;
             if (ExtractDestination(pk, address))
             {
-                const CScript

[2018-02-26 05:33] develCuy commented on #34
@busytoby this was resolved already in #33

[2018-02-26 05:33] #34 closed

[2018-02-26 05:38] develCuy opened #35 "Remove devtome from receiver.h and net.cpp"
devtome.com seems abandoned and unmaintained. We should removed to mitigate the risk of failed blockchain syncs.

[2018-02-26 05:42] develCuy commented on #35
This is what I plan to do:

[code]

[2018-03-09 14:21] develCuy commented on #35
11 days of silence. Good enough!

See: https://github.com/coinzen/devcoin/commit/456d56774d3b2d87ff25d5cec8df2f1a309124a1

[2018-03-09 14:21] #35 closed

[2018-03-24 15:56] ctya opened #36 "Receiver files cannot be hosted on sites with SSL"
Receiver files cannot be hosted on sites with SSL

This receiver host is broken as a result
https://raw.githubusercontent.com/wiser-/Devtome/master/receiver.csv

[2018-04-02 18:30] ctya commented on #28
https://github.com/devcoin/core/pull/37

[2018-04-03 03:52] belovachap commented on #28
Neat... very kind of you to work on these tickets... are people using this client? I feel like the people working on the project grew weary and wandered off. Maybe there are still things going on?

Any who, I dug around on some of my backup drives and found a file that might be my old devcoin wallet. I think there was a bounty for getting the 1.0.0 client together that I was offering on the forum

[2018-08-09 17:41] ctya commented on #24
New testnet information

Testnet Block Explorer
https://testnet.devcoin.cloud

addnode=testnet.devcoin.cloud
addnode=phoenix.devcoinresource.com

[2018-08-09 17:44] ctya commented on #26
I was able to compile on Ubuntu 16
`
sudo aptitude -y update && sudo aptitude -y safe-upgrade
sudo aptitude -y install build-essential python-software-properties autoconf libtool libssl-dev libboost-all-dev libdb4.8-dev libdb4.8++-dev
sudo aptitude -y add-apt-repository ppa:bitcoin/bitcoin
sudo aptitude -y install bitcoin
sudo aptitude -y build-dep bitcoin
cd core/src
make -f makefile.unix USE_UPN

[2018-08-09 18:04] belovachap commented on #24
Neat! Looks like a testnet :)

[2018-08-09 18:04] #24 closed

[2018-08-09 19:24] #26 closed, assigned to nobody

[2018-08-10 14:31] ctya commented on #28
Hey sorry I missed this communication from months ago.

DVC is going through a bit of a renewal with some integrations with other projects.  It definitely has some more interest this year.

You can communicate with us at the bitcointalk forum
https://bitcointalk.org/index.php?topic=233997.7600

[2018-08-10 17:25] belovachap commented on #28
Nice! I wasn't able to make much progress myself and am off fiddling with other projects :( Glad people are working on it again, though :) Hope it catches on :globe_with_meridians:

[2018-08-27 01:33] ctya opened #44 "Compile Error because of deprecated BIGNUM in openssl 1.1.0g"
BigNum is deprecated.
With openssl 1.1.0 g compiling fails.
Openssl versions prior to 1.1.0 f were working well, but now these errors stop the compiler on Linux

bignum.h:51:24: error: invalid use of incomplete type ‘BIGNUM {aka struct bignum_st}’
 class CBigNum : public BIGNUM
                        ^~~~~~
In file included from /usr/include/openssl/crypto.h:31:0,
                 from allocators

[2018-09-01 01:34] ctya commented on #44
I finally have this corrected and running test builds now.  Other coins had similar issues with old code and new versions of openssl.  The namespace was also problematic.  After a few days of working on it, I think I found the last issue and builds are working again.  Commit coming soon

[2018-09-01 01:46] ctya commented on #31
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:47] ctya commented on #30
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:48] ctya commented on #15
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:48] ctya commented on #11
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:49] ctya commented on #12
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:49] ctya commented on #20
I am marking old items that can be closed.  We will re-open with more recent issues since this 1 year old or more.  Please close this issue

[2018-09-01 01:50] belovachap commented on #15
Closing b/c old :) :+1:

[2018-09-01 01:50] #15 closed

[2018-09-01 01:51] belovachap commented on #11
Closing b/c old :) :+1:

[2018-09-01 01:51] #11 closed

[2018-09-01 01:51] belovachap commented on #12
Closing b/c old :) :+1:

[2018-09-01 01:51] #12 closed

[2018-09-01 01:52] belovachap commented on #20
Closing b/c old :) :+1:

[2018-09-01 01:52] #20 closed

[2018-09-01 01:53] ctya opened #46 "Get Network Hash per Second"
We need to include the get network hash per second functions so that the hashrate can be calculated from the block times in the app.

The hash rate is calculated outside the app from the block times and block difficulty, but it is much more user-friendly and convenient to do so in the wallet.
This function makes it easier to produce nice hash rate charts from the running node too.

[2018-09-01 16:39] develCuy commented on #44
@ctya can you provide links to the patches/commits from those other coins?

[2018-09-01 21:26] ctya opened #48 "Stop polling showmyip.com for external IP address. It is not available"
Two sites are used for finding the external IP address in the Devcoin client.  checkip.dyndns.org and www.showmyip.com.
The DynDNS.org address works and returns the external IP address.
Showmyip.com is not in service anymore and causes slowness in the client.

[2018-09-01 21:45] ctya commented on #2
I am marking old items that can be closed. We will re-open with more recent issues since this 1 year old or more. Please update as "closed b/c old" and close the issue

[2018-09-01 21:45] ctya commented on #3
I am marking old items that can be closed. We will re-open with more recent issues since this 1 year old or more. Please update as "closed b/c old" and close the issue

[2018-09-01 21:45] ctya commented on #4
I am marking old items that can be closed. We will re-open with more recent issues since this 1 year old or more. Please update as "closed b/c old" and close the issue

[2018-09-01 21:45] ctya commented on #5
I am marking old items that can be closed. We will re-open with more recent issues since this 1 year old or more. Please update as "closed b/c old" and close the issue

[2018-09-01 21:46] ctya commented on #9
This is fixed

[2018-09-01 21:47] ctya commented on #27
This PR fixes this issue
https://github.com/devcoin/core/pull/47

[2018-09-02 03:14] ctya opened #51 "OSX build fails on serialize.h duplicate class member"
serialize.h:910:10 error: class member cannot be redeclared
....
serialize.h:898:10  previous declaration is here

OSX compile stops

[2018-09-02 03:16] ctya commented on #51
https://github.com/lokkju/primecoin/commit/e71d317a5ba9b587f6f37c8e2f34458ae486dd65serialize.h:827:10: error: cserialize.h:827:10: error: class member cannot be redeclaredlass member cannot be redeclared

and

https://github.com/metrocoins/metrocoin/issues/1

[2018-09-02 04:40] develCuy commented on #51
Ok, now I see, the fix makes a lot of sense!

[2018-09-02 04:40] #51 closed

[2018-09-02 04:52] #27 closed

[2018-09-02 04:58] develCuy opened #53 "Document the Bitcoin source code version in master branch"
@belovachap @sidhujag, do you guys know what is the actual Bitcoin version used in current master branch?
@ctya since you updated the README file, can you include the this info?

Reason: Get ready for a major version update, old code is no safe

[2018-09-02 05:00] develCuy commented on #44
@ctya I looks like this fixes #36, can you confirm?

[2018-09-02 05:01] develCuy commented on #44
@ctya used this for current PR: https://github.com/peercoin/peercoin/pull/153/commits/5b09830e5de0f5105534e69dbf4acffb3255869b

[2018-09-02 05:32] belovachap commented on #53
I don't know the answer for sure, but looking at some of the files makes me think the code base came from https://github.com/domob1812/i0coin/releases/tag/i0coin-0.8.5-1

[2018-09-02 05:36] belovachap commented on #9
I'll believe it :+1:

[2018-09-02 05:36] #9 closed

[2018-09-02 05:36] belovachap commented on #5
"closed b/c old"

[2018-09-02 05:36] #5 closed

[2018-09-02 05:37] belovachap commented on #4
"closed b/c old"

[2018-09-02 05:37] #4 closed

[2018-09-02 05:37] belovachap commented on #3
"closed b/c old"

[2018-09-02 05:37] #3 closed

[2018-09-02 05:37] belovachap commented on #2
"closed b/c old"

[2018-09-02 05:37] #2 closed

[2018-09-02 05:52] #44 closed

[2018-09-02 05:54] develCuy commented on #36
@ctya, now that #44 is fixed, what happens this?

[2018-09-02 07:04] emfox opened #54 "Failed to build from source"
the building evironment is of newest Dockfile, and the source is from git HEAD now.
the error is:

bignum.h:54:20: error: 'nullptr' was not declared in this scope

and the whole log.
g++ -c -O2 -pthread -Wall -Wextra -Wformat -Wformat-security -Wno-unused-parameter -g -DBOOST_SPIRIT_THREADSAFE  -D_FILE_OFFSET_BITS=64 -I/usr/local/src/devcoin/src -I/usr/local/src/devcoin/src/obj -DUSE_IPV6=1 -I/usr

[2018-09-02 14:47] cpsilent commented on #54
I can confirm this error too. I was using the compiling instructions in here: https://github.com/devcoin/core/blob/master/doc/build-unix.md and the message I got is the same of emfox: "bignum.h:54:20: error: ‘nullptr’ was not declared in this scope
makefile.unix:182: fallo en las instrucciones para el objetivo 'obj/auxpow.o'
make: *** [obj/auxpow.o] Error 1"

[2018-09-02 16:54] ctya commented on #54
please let us know your openssl version

[2018-09-02 17:03] ctya commented on #28
This can be closed.  Thank you

[2018-09-02 17:13] belovachap commented on #28
:rocket:

[2018-09-02 17:13] #28 closed

[2018-09-02 17:19] ctya opened #55 "Compiler Warnings error: invalid suffix on literal; C++11 requires a space between literal and identifier"
These compiler warnings happen during the build and should be addressed.

To solve the problem you only need to add an space before and after the literal

[2018-09-02 23:49] cpsilent opened #56 "Failed compilation from source #2"
This is an error different than: https://github.com/devcoin/core/issues/54 so I opened a new one.

It fails with a different error.

OS version: Kubuntu 17.10 32 bits, 32 bit system
OpenSSL version: OpenSSL 1.0.2g  1 Mar 2016
GCC version: Thread model: posix gcc version 7.2.0 (Ubuntu 7.2.0-8ubuntu3.2)

This is the log:

`Building LevelDB ...
cd leveldb; chmod +x build_detect_platform; make CC=cc C

[2018-09-03 00:48] ctya opened #57 "Receiver host galaxies.mygamesonline.org does not have a valid SSL certificate"
https://www.ssllabs.com/ssltest/analyze.html?d=galaxies.mygamesonline.org

Certificate name mismatch

[2018-09-03 00:49] ghost opened #58 "Receiver host devcoinpool.btc-music.com does not allow SSL port connections"
https://www.ssllabs.com/ssltest/analyze.html?d=devcoinpool.btc-music.com

Assessment failed: Unable to connect to the server

[2018-09-03 00:50] ghost opened #59 "Receiver host devcoin.darkgamex.ch does not have a valid SSL certificate"
https://www.ssllabs.com/ssltest/analyze.html?d=devcoin.darkgamex.ch

Certificate name mismatch

[2018-09-03 00:59] ctya commented on #36
There are only three receiver hosts listed in receivers.h (we need more there, off topic)
I opened separate issues for each of those hosts b/c none of them have a valid SSL configuration.

Meanwhile I will try to test with my own hosts to debug the issue.

If you can get these three receiver host configurations corrected, it will be very helpful.
Maybe a minimum requirement for hosting anything sh

[2018-09-03 01:33] emfox commented on #54
@ctya it is the default of debian 7 according to the dockerfile.

root@6ca188e02a7a:/# gcc --version
gcc (Debian 4.7.2-5) 4.7.2
Copyright (C) 2012 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

root@6ca188e02a7a:/# openssl version
OpenSSL 1.0.1t  3 May 2016

[2018-09-03 03:00] ctya commented on #36
Tested and looks like we just needed to have SSL enabled in the make file.  Works well once this is changed.  Here is the PR to fix it
https://github.com/devcoin/core/pull/60ZQblM8Jlq8e7vB2pIf

[2018-09-03 04:59] ctya commented on #54
Please try this branch which removes the requirement for C++11

https://github.com/ctya/core/tree/ctya_bignum_fix_nullptr

added as this pull request
https://github.com/devcoin/core/pull/61

[2018-09-03 06:04] emfox commented on #54
Yes, with ctya_bignum_fix_nullptr branch it builds ok now.

[2018-09-03 18:27] cpsilent commented on #54
In my case, this new branch didn't help, I have the same error:

`Building LevelDB ...
cd leveldb; chmod +x build_detect_platform; make CC=cc CXX=g++ OPT="-O2 -pthread -Wall -Wextra -Wformat -Wformat-security -Wno-unused-parameter -g -DBOOST_SPIRIT_THREADSAFE  -D_FILE_OFFSET_BITS=64 -I/home/user/core-ctya_bignum_fix_nullptr/devcoin/src -I/home/user/core-ctya_bignum_fix_nullptr/devcoin/src/obj -DUS

[2018-09-03 18:40] ctya commented on #54
cpsilent : that is curious because
"BIGNUM *self = nullptr;" is not in the source code of that branch, anywhere.
Yet your debug output indicates it is in the source code.

Try
**git clone https://github.com/ctya/core.git**
and then
**git checkout ctya_bignum_fix_nullptr**
to be sure you are on the correct branch

[2018-09-03 21:03] cpsilent commented on #54
Uhmm no, something weird is happening. I did what you asked me but it keeps showing me the nullptr error.  I even deleted the old directory with the previous branch and make clean everything.

I have a hypothesis, I'm following these compiling instructions in here: https://github.com/devcoin/core/blob/master/doc/build-unix.md

At some point it asks me to build Devcoind using this source:
`git clon

[2018-09-03 21:17] ctya commented on #54
Yes.
That command will overwrite the source code with the quite-old source from coinzen.
So you have been testing builds using the source from the coinzen repository instead of the new devcoin repository.  I'll get that build file fixed

Meanwhile...

Instead of
 git clone --depth=1 https://github.com/coinzen/devcoin.git
please use
 git clone https://github.com/ctya/core.git
then
 git checkout cty

[2018-09-03 23:00] cpsilent commented on #54
Success! It did compile perfectly! Thank you for pointing out what I was doing wrong!

[2018-09-04 01:30] cpsilent commented on #56
I tried all those dependencies, it installed some more, but unfortunately it failed. I checked with these instructions: https://github.com/devcoin/core/blob/master/doc/build-unix.md and it seems I got everything needed to compile it.

I also changed the old branch for the one you suggested in https://github.com/devcoin/core/issues/54 :  `git clone https://github.com/ctya/core.git

[2018-09-04 14:27] develCuy opened #65 "Add current round to getinfo command"
This is current output:

[code]

This is what I want:

[code]

Reason: Have an easy quick way to read the current round.

[2018-09-05 00:28] ctya commented on #7
please close b/c old
We have other issues open for compiler warnings.
Thank you!

[2018-09-05 00:28] ctya commented on #54
ok this can be closed, but I can't close it.  So please close the issue if it looks ok now.

[2018-09-05 00:40] belovachap commented on #7
close-y mc close face :robot: :rabbit: :racing_car:

[2018-09-05 00:40] #7 closed

[2018-09-05 00:50] ctya commented on #65
http://www.devtome.com/doku.php?id=devtome_stats&s[]=current&s[]=round
"The earnings are calculated at increments of 4000 blocks, minus lead time of 2700 blocks. The payout blocks start at rounds in increments of 4,000.
Round 36 goes from block 137,300 to 141,300, and starts paying out at block 144,000.
Round 37 goes from block 141,300 to 145,300, and starts paying out at block 148,000."

Putting

[2018-09-05 01:20] ctya commented on #65
Ready
https://github.com/devcoin/core/pull/66

[2018-09-05 03:21] develCuy opened #67 "Move all devcoin specific globals (contants & functions) into a single devcoin.h file"
There are some very specific functions in main.cpp, receiver.h, rpcwallet.cpp and possibly others. Having them all into a file would be very useful, not only for avoiding duplicated code, it will be very helpful when upgrading the codebase to latest stable Bitcoin codebase.

[2018-09-06 02:34] ctya commented on #56
I'll do some testing on a clean Ubuntu machine and let you know what happens soon

[2018-09-06 04:11] ctya commented on #56
Here are the steps that worked for me to build the latest, unstable release from the github master branch

This was for Ubuntu 18.04, new install from downloaded iso

sudo apt-get install git libdb++-dev libdb-dev libboost-all-dev build-essential libtool pkg-config libssl-dev

mkdir devcoin
cd devcoin
git clone https://github.com/devcoin/core.git
cd core/src
make -f makefile.unix clean
make -f mak

[2018-09-06 14:30] emfox commented on #54
@ctya it should be closed after merging the pull request.

[2018-09-07 19:29] cpsilent commented on #56
Ok, I tried it your directions in the Kubuntu 17.10 but it failed. However, I tried it in another computer with a Kubuntu 18.04.1 and it compiled flawlessly.  For that reason, I propose to close this issue as "Won't fix" or something similar because the 17.10 is a transitory version with a very limited lifespan, while 18.04 is an LTS version, as well as the 16.04. With both LTS versions supported

[2018-09-08 12:36] ctya commented on #54
I think @develCuy is the only person with the authorization in the github repository for merging PRs right now, so we will need to wait for his availability.

[2018-09-08 12:37] ctya commented on #6
close b/c old plz

[2018-09-08 12:37] ctya commented on #10
close b/c old plz

[2018-09-08 12:37] ctya commented on #14
close b/c old plz

[2018-09-08 12:37] ctya commented on #19
close b/c old plz

[2018-09-08 12:37] ctya commented on #18
close b/c old plz

[2018-09-08 12:37] ctya commented on #17
close b/c old plz

[2018-09-08 12:37] ctya commented on #16
close b/c old plz

[2018-09-08 12:38] ctya commented on #30
close b/c old plz

[2018-09-08 12:38] ctya commented on #31
close b/c old plz

[2018-09-08 15:21] #6 closed, assigned to nobody

[2018-09-08 15:21] #10 closed, assigned to nobody

[2018-09-08 15:21] #14 closed, assigned to DevElCuy

[2018-09-08 15:22] #19 closed, assigned to nobody

[2018-09-08 15:22] #18 closed, assigned to nobody

[2018-09-08 15:22] #17 closed, assigned to nobody

[2018-09-08 15:23] #16 closed, assigned to nobody

[2018-09-08 21:50] ctya commented on #46
"Mining Pool" requested this function and likes the result I demonstrated in test build and wants to see it ASAP so they can update their DVC hashrate stats

[2018-09-12 16:30] #36 closed

[2018-09-12 16:31] ctya commented on #36
Fixed with other Pull Requests

[2018-09-12 16:31] #46 closed

[2018-09-14 15:58] ctya commented on #67
A couple of questions about this
Since there is already a receiver.h file, do you mean that should go into a different file?  It is only devcoin functions in receiver.h.

Also, why would we use a new bitcoin base?  How would we decide which BIP to use or not-use?
Why not just continue to improve the current base?

Moving additions to their own file might help.  But what do we do about sections tha

[2018-09-14 16:08] develCuy commented on #67
@ctya, we were working on updating Devcoin early in this repository, with @sidhujag and @belovachap. The reason is to stay up to date with security updates, given the fact that we are far to have a dedicated security team to audit the code. In short, the strategy is to keep Devcoin core as a living fork of a safe code base. I think that Bitcoin core is the obvious option but we could decide in a s

[2018-09-15 20:11] ghost opened #70 "Compiler warning Comparison between signed and unsigned - Bounty: 1M DVC"
In file included from ./util/arena.h:10:0,
                 from ./db/skiplist.h:30,
                 from ./db/memtable.h:11,
                 from db/memtable.cc:5:
db/memtable.cc: In member function ‘void leveldb::MemTable::Add(leveldb::SequenceNumber, leveldb::ValueType, const leveldb::Slice&, const leveldb::Slice&)’:
db/memtable.cc:104:31: warning: comparison between signed and unsigned integ

[2018-09-16 19:36] #30 closed

[2018-09-16 19:36] #31 closed

[2018-09-16 19:36] develCuy commented on #48
Great work @ctya!

[2018-09-16 19:36] #48 closed

[2018-09-16 19:37] develCuy commented on #54
@emfox can you update state of this bug report?

[2018-09-16 19:38] #55 closed

[2018-09-16 19:39] develCuy commented on #56
@cpsilent we did several changes, what is current status of this bug report?

[2018-09-16 19:40] develCuy commented on #58
We should remove it

[2018-09-16 21:42] cpsilent commented on #56
It seems I'm having another dependency problem @develCuy I had upgraded  both computers from 17.10 and 16.04 to 18.04.1 LTS and this is what happened when I tried to compile this branch (https://github.com/ctya/core/tree/ctya_issue65_current_round_getinfo):

`Building LevelDB ...
cd leveldb; chmod +x build_detect_platform; make CC=cc CXX=g++ OPT="-O2 -pthread -Wall -Wextra -Wformat -Wformat-securi

[2018-09-17 00:03] knotwork commented on #57
Umm, I never pretended to have https on there, actually I do not have it on any websites anywhere.

-MarkM-

[2018-09-17 00:27] develCuy commented on #57
@knotwork, we need https for security of the network. Can you configure it or another hostname with cloudflare?

[2018-09-17 00:45] knotwork commented on #57
I have set up self-signed certificates in the past, though only on servers I actually control; this particular server I am not sure how much control I really have as its a web-hosting provider not an actual dedicated server. Presumably though they must provide some method since https is going to be pushed for heavily soon. I just used to find that the users who actually worried about it usually wo

[2018-09-17 00:48] knotwork commented on #57
OK I can set it up: https://www.google.com/search?client=ubuntu&channel=fs&q=awardspace+set+up+https&ie=utf-8&oe=utf-8

I just need an actual certificate. I believe there might be free ones available nowadays that browsers don't complain about?

-MarkM-

[2018-09-17 00:50] develCuy commented on #57
@knotwork you can get one with letsencrypt. You can  also host for free with github pages

[2018-09-17 05:12] develCuy commented on #54
Fixed!

[2018-09-17 05:12] #54 closed

[2018-09-19 18:15] novacadian opened #72 "Compiling issues under Ubuntu 16.04"
Experience with Ubuntu 16.04

Downloaded core-f29c33c44e003d02ad2d5e3aff73e923229f52f0.

There was an error surrounding permissions. My assumption was ownership which lost some time. It ended up being the build_detect_platform shell script, which required a "chmod +x build_detect_platform" on it for the qmake and make instructions.

Now having issues with libcurl. "locate curl.h" returns "/usr/inc

[2018-09-21 21:42] ctya commented on #72
Hi Nova, thanks for the feedback.
Can you try the latest Master branch and let me know the results?
chmod +x build_detect_platform was added already and the curl updates happened around the same time so I am hoping we fixed this already.

If you still have trouble, feel free to post then entire output here and I'll duplicated it in my test rig.

[2018-09-22 15:11] ctya commented on #57
galaxies.mygamesonline.org has a valid SSL certificate now.
https://www.ssllabs.com/ssltest/analyze.html?d=galaxies.mygamesonline.org

[2018-09-22 15:11] #57 closed

[2018-09-22 17:56] ctya commented on #56
Does the master branch compile on this machine?

[2018-09-22 18:12] cpsilent commented on #56
After the upgrade, no it doesn't. However, @develCuy suggested me to compile it inside a VirtualBox machine and it worked flawlessly! I even took it out and used the binary wallet on my system.  I think I will continue to compile the wallet using the virtualization environment, because I have no clue which broken configuration or old packages I'm dragging around that causes this behavior.

[2018-09-22 18:13] ctya commented on #56
Sounds good!
...please close this issue?

[2018-09-22 18:53] #56 closed

[2018-09-25 22:19] novacadian commented on #72
Issues resolved by following cpol's wonderful guide, who's link is included below.

https://steemit.com/busy/@cpol/how-to-compile-your-very-own-devcoin-wallet-in-ubuntu-18-04

[2018-10-15 19:58] develCuy opened #73 "Merge with Coinzen-Devcoin 0.9.2"
There is a more up to date version of Devcoin that was contributed by @sidhujag

https://github.com/coinzen/devcoin0.9.2MM/blob/master/src/clientversion.h

The report version of current official devcoin is 0.8.5

https://github.com/devcoin/core/blob/master/src/clientversion.h

So we are still very far

[2018-10-16 02:03] develCuy commented on #65
Code merged, let's keep this moving!

[2018-10-16 02:03] #65 closed

[2018-10-16 02:13] #72 closed

[2019-10-27 06:18] MEJEMAE opened #75 "DEVCOIN"
DEAR
I am a devcoin holder
I don't know if it is still listed in a platform
Thank you

[2019-10-28 12:28] Traxo7 opened #76 "Devcoin (DVC) Block rewards reduced to 2500"
According to [cryptoId explorer](https://chainz.cryptoid.info/dvc/), starting with block [396,000](https://chainz.cryptoid.info/dvc/block.dws?396000.htm) (which is the start of the round 99) Devcoin block rewards are reduced to 2,500.

According to [this recent post](https://bitcointalk.org/index.php?topic=233997.msg52903108#msg52903108) the problem might be that the nodes tried to get the receive

[2019-10-28 12:43] Traxo7 opened #77 "HTTPS support for downloading receiver files - Bounty: 10M DVC"
Does daemon try to reach receiver files via `https`, or `http`? As one of the custodians is successfully listed as an IP address instead of a domain, I presumed issuing an SSL is not required (as SSL is probably not even allowed to be issued to IP addresses in the first place, or at least it might be a struggle to set up?).
In other words, should receiver file be reachable via `https://...` in add

[2019-10-28 15:29] develCuy commented on #77
There is support for https but the source code support is very outdated so it is not able to download anything from https. For that reason, we only list http hosts. We need to updated the source code with the most recent ssl libraries so that https can work. Also, this will allow us to host receiver files in many free public mirrors (i.e: github, gitlab, bitbacket, etc.), along the existing custod

[2019-10-28 15:35] develCuy commented on #77
Since it is critical to have a reliable set of receiver files mirrors, I set a bounty of 50 million DVC from the DevFund to be distributed among all the people that work to fix this issue. The tester assigned is Qtera, which should certify the fix.

[2019-10-28 15:40] develCuy commented on #77
Block 396000 (round 99) was found on 2019-10-26 11:07:49 and this is the record of custodians reporting sync:
(all dates are UTC)

2019-10-22 03:51:08 Custodian 1
2019-10-22 06:21:38 Custodian 2
2019-10-23 13:21:37 Custodian 3
2019-10-23 17:04:45 Custodian 4
2019-10-26 09:07:47 Custodian 5

Also Custodian 6 didn't report back, but http://devcoin.darkgamex.ch reports file creation date:

2019-10-22

[2019-10-28 15:53] develCuy commented on #77
If you are whiling to help, please analyze https://github.com/devcoin/core/blob/master/src/receiver.h#L160 and https://github.com/devcoin/core/blob/master/src/main.cpp

[2019-10-28 17:00] develCuy commented on #76
main.cpp has the answer:

[code]
Also:

[code]

Let's use whole numbers, so assume COIN = 1. Then we have this:

[code]

We can quickly realize that initialSubsidy - fallbackReduction = 2500, exactly the amount of current miners reward. That operation is presumably happenning in function CreateNewBlock() at line 4368:
[code]

This is GetBlockValue():

[code]

So, it just returns 50000, which is as

[2019-10-28 18:16] develCuy commented on #75
The only known active market is https://freiexchange.com/market/DVC/BTC

Btw, this is an issue queue for software development. For other questions please use the official public forum thread at bitcointalk https://bitcointalk.org/index.php?topic=233997.new;topicseen#new

[2019-10-28 18:16] #75 closed

[2019-10-31 04:30] develCuy opened #78 "Automated build (Dockerfile) of devcoind is broken - Bounty: 1M DVC"
There are up-to-date instructions here:

https://steemit.com/busy/@cpol/how-to-compile-your-very-own-devcoin-wallet-in-ubuntu-18-04

[2019-10-31 06:29] develCuy commented on #78
@cpsilent, please validate that you build and run a working devcoind containerized instance with the latest Dockerfile.
Instructions
1. Install docker
2. Download the source code
3. Enter the examples/ folder in a terminal
4. Build: $ docker build -t devcoin/core .
5. Run: $ docker run -tid --name=devcoind -h devcoind devcoin/core
6. Enter the container: $ docker exec -ti devcoind bash
7. Test dev

[2019-10-31 06:37] develCuy commented on #76
I realized that getLocationTexts() is the best place to validate how is the nodes are dealing with receiver files mirrors. So I added some DEBUG code, and the function looks like this:

[code]

This is the output:

[code]

Host http://d.evco.in has something that nodes don't like

[2019-10-31 07:35] develCuy commented on #77
I figured out the fix faster than expected, so we don't need a big reward. Still, we have to test the fix extensively and release a new version of Devcoin! For that reason I can offer a bounty of 10M DVC from the DevFund to be distributed among all the people that work on fixing this issue. The tester assigned is @cpsilent, which should certify the fix.

[2019-10-31 08:06] develCuy commented on #76
Found the issue with d.evco.in, thanks to wget:

[code]

The host is enforcing HTTPS, which is not supported by old Devcoin nodes. I have fixed this already in #77, so we should now work on a new release and wait till miners update their nodes.

[2019-10-31 16:22] cpsilent commented on #78
Hi Fernando,

I ran in a couple of issues, please let me know if I did something wrong:

I first install docker using this command:

sudo apt install docker docker.io

Then I downloaded the source code using this command:

git clone https://github.com/devcoin/core.git

I entered into core/examples directory but when I ran the command:
docker build -t devcoin/core the system gave me this error: "do

[2019-10-31 17:08] develCuy commented on #78
@cpsilent I updated the step 4, please re-read the instructions and try again

[2019-10-31 18:21] cpsilent commented on #78
Ok I did it but I had to run it with a sudo command before the docker command because it says I got permission denied. After sudo everything went ok until step 7.

When I entered su - devcoind in step 7 I got:

root@devcoind:~/.devcoin# su - devcoind
No passwd entry for user 'devcoind'

And when entered devcoind getinfo I got:

error: You must set rpcpassword=<password> in the configuration file:

[2019-10-31 18:39] develCuy commented on #78
@cpsilent Oops, another typo! I updated the step 7, please re-read the instructions and try again

[2019-10-31 19:02] cpsilent commented on #78
devcoin@devcoind:~$ devcoind getinfo
{
    "version" : 80501,
    "protocolversion" : 70001,
    "walletversion" : 60000,
    "balance" : 0.00000000,
    "blocks" : 396676,
    "timeoffset" : 0,
    "connections" : 2,
    "proxy" : "",
    "difficulty" : 1224846496222.95410156,
    "testnet" : false,
    "keypoololdest" : 1572544326,
    "keypoolsize" : 101,
    "paytxfee" : 0.00000000,
    "error

[2019-11-01 01:09] develCuy commented on #78
Thank you @cpsilent! This validates the fix, yet we are updating the list of peers, so we have to test again once that we have all custodians in sync. I'll ping you back when things are ready for a new test here

[2019-11-03 03:53] develCuy commented on #78
The automated build is working again and it is certified by @cpsilent already. This is how the reward has been distributed among contributors:

- Developer: 90% * 1M DVC => 900,000.00 DVC paid to develCuy [4936b1d7da1d70a9e495d66d34f2f72ee2efe98f897544095e0dea91148c4953](https://chainz.cryptoid.info/dvc/tx.dws?4936b1d7da1d70a9e495d66d34f2f72ee2efe98f897544095e0dea91148c4953.htm)
- Tester: 10% * 1M

[2019-11-03 03:56] #78 closed

[2019-11-03 04:47] develCuy commented on #76
After studying the code and performing several tests, my conclusion is that there wasn't any bug. Devcoind is programmed to reduce rewards in the even of not being able to find enough file custodians. That is what actually happened and we don't need to change the source code to solve the problem

[2019-11-03 04:47] #76 closed

[2019-11-04 22:32] develCuy commented on #70
We have got a fair amount of alerts regarding signed vs. unsigned comparisons, so we basically have to do a lot of small edits and test everything again. It is important to have a clean compilation, for that reason I set a bounty of 1M DVC from the DevFund to be distributed among all the people that work to fix this issue. The tester assigned is @cpsilent (Qtera), which should certify the fix

[2019-11-07 05:01] develCuy commented on #77
@cpsilent we are going to use the testnet for this. You have to start devcoin with the -testnet param or just add "testnet=1" to your devcoin.conf file

[2019-11-07 16:28] cpsilent commented on #77
It seems opening the wallet with the testnet parameter was unable to sync the blockchain.

I used this guide to compile it: https://steemit.com/busy/@cpol/how-to-compile-your-very-own-devcoin-wallet-in-ubuntu-18-04

First, I downloaded the current source code from git using the command: ``` git clone https://github.com/devcoin/core.git ```

The resulting compiled code version was this:
* Client ve

[2019-11-07 17:42] develCuy commented on #77
OK, our testnet is officially broken then. Please report the issue, I'll set a 1M DVC bounty for it

[2019-11-07 17:50] cpsilent opened #79 "Testnet is broken"
When using devcoin with the -testnet parameter, the devcoin wallet doesn't download the blockchain as shown in #77 and keeps stuck with an N/A in wallet's debug window.

[2019-11-07 17:50] cpsilent commented on #77
Done @develCuy!

[2019-11-07 18:00] develCuy commented on #79
@cpsilent, please keep full details in each ticket, because context is lost in the middle of comments too often

[2019-11-07 20:42] cpsilent commented on #79
@develCuy I already edited the first post, pasted the same post Idid in #77 and added a couple of things to make it clearer.

[2019-11-08 04:26] develCuy commented on #79
excellent @cpsilent! Eres un 10!

[2019-11-30 17:30] develCuy commented on #59
SSL is not a requirement for file custodians currently. Btw, we have plans to change that on #77

[2019-11-30 17:30] #59 closed

[2019-11-30 17:30] #58 closed

[2020-06-15 23:00] develCuy commented on #77
Quick update, according to https://chainz.cryptoid.info/dvc/#!network we still have few nodes able to support https (version 0.8.6 and up), so we should keep waiting to mark this issue resolved:

![image](https://user-images.githubusercontent.com/284466/84714011-09735380-af32-11ea-8faa-6ac59445a382.png)

[2020-06-20 18:23] develCuy opened #80 "64-bit Windows build (cross-compile on Linux) - Bounty 10M DVC"
We need to build both devcoind.exe and devcoin-qt.exe with up to date libraries: OpenSSL, LevelDB, Curl, Boost and Berkeley DB.

This issue is for cross-compiled build on a native Linux host with a Windows target.

Please refer to [build-mingw-under_linux.md](https://github.com/devcoin/core/blob/master/doc/build-mingw-under_linux.md) guide.

Team:

- Developer: @develCuy
- Tester: @cpsilent

NOTE:

[2020-06-20 18:26] develCuy commented on #80
**Bounty**
Since it is critical to provide an up-to-date Windows build to current and new users, I set a bounty of 5 million DVC from the DevFund to be distributed among all the people that work to fix this issue. The tester assigned is @cpsilent, which should certify the fix.

[2020-06-21 04:42] develCuy opened #81 "Dummy"

[2020-06-21 04:42] #81 closed

[2020-06-21 04:42] develCuy opened #82 "Dummy"

[2020-06-21 04:42] #82 closed

[2020-06-21 04:42] develCuy opened #83 "Dummy"

[2020-06-21 04:42] #83 closed

[2020-06-21 04:43] develCuy opened #84 "Dummy"

[2020-06-21 04:43] #84 closed

[2020-06-21 04:44] develCuy commented on #80
Please work tests at #85

[2020-06-21 04:45] develCuy opened #85 "Testing Windows builds (32-bit and 64-bit)"
The main issue regarding Windows is #80

[2020-06-21 04:55] develCuy commented on #80
Bounty raised to 10M Devcoins due to the complexity of building Devcoin for Windows on 32bit and 64bit, along different issues in the source code of dependencies. I'll evaluate another bounty for #85  if reported runtime errors make the wallet unusable or if there is data corruption.

[2020-06-21 04:57] develCuy commented on #85
@cpsilent please write a guide for testing the binaries build from #80, we should warn people about making a backup of their Devcoin wallet prior to using the new untested builds.

[2020-06-21 05:03] cpsilent commented on #85
Got it! I will begin as soon as possible. I'm reading the building instructions right now!

[2020-06-21 05:37] cpsilent commented on #85
**Following this document**:

from #80

**Computers used, OS and tools**: an Ubuntu WSL environment (18.04 version) on a Windows 10 64 bits laptop, a Linux Mint (19.3 Tricia version) installation on the same 64 bits computer

After executing this command in the WSL command line: `sudo apt install g++-mingw-w64-${TARGET_ARCH} mingw-w64-${TARGET_ARCH}-dev curl` or `sudo apt install g++-mingw-w64-x86

[2020-06-21 05:48] develCuy commented on #85
@cpsilent this issue is for reporting issues when running the binaries. Please report your issues at #80

[2020-06-21 05:50] cpsilent commented on #80
**Following this document**:

from #80

**Computers used, OS and tools**: an Ubuntu WSL environment (18.04 version) on a Windows 10 64 bits laptop, a Linux Mint (19.3 Tricia version) installation on the same 64 bits computer

After executing this command in the WSL command line: `sudo apt install g++-mingw-w64-${TARGET_ARCH} mingw-w64-${TARGET_ARCH}-dev curl` or `sudo apt install g++-mingw-w64-x86

[2020-06-21 05:50] develCuy commented on #80
@cpsilent this is what you are looking for: https://packages.ubuntu.com/bionic/g++-mingw-w64-x86-64

[2020-06-21 05:50] cpsilent commented on #85
Done! Moved to #80

[2020-06-21 19:15] cpsilent opened #86 "Typos in https://github.com/devcoin/core/blob/master/doc/build-mingw-under_linux.md guide"
In the section "Curl" subsection "For Windows 32bit" the url reads as
https://curl.haxx.se/windowsi/dl-7.68.0/curl-7.68.0-win32-mingw.tar.xz but it should be https://curl.haxx.se/windows/dl-7.68.0/curl-7.68.0-win32-mingw.tar.xz

In subsection "For Windows 64bit" the url reads as
https://curl.haxx.se/windowsi/dl-7.68.0/curl-7.68.0-win64-mingw.tar.xz but it should be
https://curl.haxx.se/windows/dl-

[2020-06-21 19:21] cpsilent commented on #80
While compiling BerkeleyDB, in the step `make -j2` outputs the following messages:

`./libtool --mode=link x86_64-w64-mingw32-gcc -O3  -o db_archive  \
    db_archive.lo util_sig.lo libdb-5.3.la -lpthread
./libtool --mode=link x86_64-w64-mingw32-gcc -O3  -o db_checkpoint  \
    db_checkpoint.lo util_log.lo util_sig.lo libdb-5.3.la -lpthread
libtool: link: x86_64-w64-mingw32-gcc -O3 -o .libs/db_arc

[2020-06-21 19:22] #86 closed

[2020-06-21 19:25] cpsilent commented on #80
There's a typo in `https://github.com/devcoin/core/blob/master/doc/build-mingw-under_linux.md`

 guide

In the section "Curl" subsection "For Windows 32bit" the url reads as
`https://curl.haxx.se/windowsi/dl-7.68.0/curl-7.68.0-win32-mingw.tar.xz` but it should be `https://curl.haxx.se/windows/dl-7.68.0/curl-7.68.0-win32-mingw.tar.xz`

In subsection "For Windows 64bit" the url reads as
`https://cur

[2020-06-21 19:34] cpsilent commented on #80
In section

When I try to build LevelDB, during the step `cd "${BUILD_DIR}/core/src/leveldb"` the command line outputs:

So, I couldn't continue from this step

Note: Real username was edited for security reasons

[2020-06-21 19:53] cpsilent commented on #80
In the section `Make devcoind.exe` subsection `First should build LevelDB (included in Devcoin source code):` should the steps `$ TARGET_OS=NATIVE_WINDOWS make libleveldb.a libmemenv.a CC=${TARGET_ARCH}-w64-mingw32-gcc CXX=${TARGET_ARCH}-w64-mingw32-g++
$ ${TARGET_ARCH}-w64-mingw32-ranlib libleveldb.a && ${TARGET_ARCH}-w64-mingw32-ranlib libmemenv.a` be in a single line? or there's a typo in the f

[2020-06-21 21:31] develCuy commented on #80
Don't worry about that output, it has been compiled just right.

They both are separate commands and both seem to work as expected. The last command without output is old school UNIX behavior.

[2020-06-21 21:39] develCuy commented on #80
The current issue is to cross-compile from Linux to Windows, so that we can build Devcoin.exe and Devcoin-qt.exe to be used natively on Windows. Since WSL provides you with a Linux-like frontend layer, you can build Devcoin the standard Linux way, which is out of scope in this issue.

[2020-06-21 21:54] cpsilent commented on #80
On Windows 10 in the section `BerkeleyDB`, following the step `sh ../dist/configure --host=${TARGET_ARCH}-w64-mingw32 --enable-cxx --enable-mingw`  it outputs a dialog box while the compiler executes this section `checking for clock_gettime monotonic clock... `

The message in the dialog box says:

If I click OK, the compiler changes the status of the message to  `checking for clock_gettime monoto

[2020-06-21 22:10] develCuy commented on #80
I updated the issue title, to make it clear that you should compile on native windows. Cross-compile means that you can build a program on a host OS and run it on target OS. In this case, the host is native Linux and the target is Windows. We are not working on a native build (compile on Windows, run in Windows) yet.

[2020-06-21 22:14] cpsilent commented on #80
Oh I see, I'm going to switch to linux and continue there, then

[2020-06-21 23:48] cpsilent commented on #85
This is the output with errors after trying to build devcoind.exe for Windows 64bit on Linux Mint 19.3:

[code]

[2020-06-22 00:01] develCuy commented on #85
Great @cpsilent! I'll help you with a patch for the 64bit build  in #80 ;)

[2020-07-06 03:28] develCuy commented on #80
@cpsilent any news?

[2020-07-06 03:37] cpsilent commented on #80
Well, I was waiting for the patch to continue my testing and trying to compile it.

[2020-07-06 03:40] develCuy commented on #80
@cpsilent, if you mean a patch for https://github.com/devcoin/core/issues/80#issuecomment-647186650 don't worry, because that output is normal, you can proceed with next steps, just remember to compile in linux

[2020-07-06 04:37] cpsilent commented on #80
The problem is when I reach to the step: `make -f makefile.linux-mingw64 -j8 CROSS_COMPILE=${TARGET_ARCH}-w64-mingw32- CXXFLAGS="-static-libgcc -static-libstdc++" LMODE=dynamic`

I got a set of errors and I can't build a .exe, so I can't continue to the final step that is to package it:
`~/Devcoin-win64/core/src$ make -f makefile.linux-mingw64 -j8 CROSS_COMPILE=${TARGET_ARCH}-w64-mingw32- CXXFLAGS

[2020-07-06 05:06] develCuy commented on #80
@cpsilent make sure that you build boost and that you have it in the right path

[2020-07-06 06:35] cpsilent commented on #80
Oohh! I saw the mistake I made! Thank you for pointing it out!

I corrected everything and _almost_ compiles as intended, unfortunately, I still got one error that prevents the building:

`make -f makefile.linux-mingw64 -j8 CROSS_COMPILE=${TARGET_ARCH}-w64-mingw32- CXXFLAGS="-static-libgcc -static-libstdc++" LMODE=dynamic
x86_64-w64-mingw32-g++ -c -O2 -w -Wall -Wextra -Wformat -Wformat-security -W

[2020-07-06 07:12] develCuy commented on #80
@cpsilent please pull latest changes like this: `$ git pull --rebase origin master` then try the make again

[2020-07-06 18:48] cpsilent commented on #80
The second command did the trick.

I got a new error:

x86_64-w64-mingw32-g++ -c -O2 -w -Wall -Wextra -Wformat -Wformat-security -Wno-unused-parameter -D_WIN32_WINNT=0x500 -g -D_MT -DWIN32 -D_WINDOWS -DBOOST_THREAD_USE_LIB -DBOOST_SPIRIT_THREADSAFE -DUSE_IPV6=1 -I"/home/username/Devcoin-build/core/src/leveldb/include" -I"/home/username/Devcoin-build/core/src/leveldb/helpers" -DHAVE_BUILD_INFO -I"/

[2020-07-07 06:06] develCuy commented on #80
@cpsilent, I didn't have that error, but perhaps my toolchain is older (more tolerant) that kind of errors. Please take a look at: https://github.com/gridcoin-community/Gridcoin-Research/commit/14c5880ab357367b9bcc16c83922ea14796f3cdf there are examples on how to change the code. So for example,

[code]

That error means that you have a function declaration with a conflicting template. In the link

[2020-07-07 18:55] cpsilent commented on #80
Ok, I managed to reduce the number of errors. I changed the suggested lines and I chased down some more by myself. However, I can't find in google an answer for the following ones, fortunately, they are much fewer now:

/bin/sh ../share/genbuild.sh obj/build.h
x86_64-w64-mingw32-g++ -c -O2 -w -Wall -Wextra -Wformat -Wformat-security -Wno-unused-parameter -D_WIN32_WINNT=0x500 -g -D_MT -DWIN32 -D_WI

[2020-07-08 01:56] develCuy commented on #80
@cpsilent, it looks like compilation corrupted badly. Can you start over without any interruption?

[2020-07-09 06:27] cpsilent commented on #80
Since yesterday, I've been doing a lot of compilings but all of them ended with errors. The same exact errors.  I tried 64 bit and 32 bit to no avail. Besides the Linux Min 19.3 installation, I tried in another laptop with Kubuntu 18.04.4 and finally a virtual machine with a Ubuntu 18.04.4 fresh install and I got the same errors. I tried it downloading the code fresh from github and without patchi

[2020-07-09 14:11] develCuy commented on #80
@cpsilent, you'r right, there are some errors in the boost build:

[code]

[2020-07-09 14:58] develCuy commented on #80
@cpsilent, we need to patch boost:

1. enter folder boost_1_68_0/
2. download patch https://gist.githubusercontent.com/develCuy/4eeda523666dd2b8548c061b38500d99/raw/7d6cfb230e2dd7525b8f85c0cc0ded3cba432e81/devcoin_boost_1.68.0.patch
3. apply patch: `patch -p1 < devcoin_boost_1.68.0.patch`
4. try to compile boost again

[2020-07-11 04:13] cpsilent commented on #80
Sorry for the delay! When I applied the patch, I was shown this error:

patching file libs/context/src/asm/jump_x86_64_sysv_elf_gas.S
patching file libs/context/src/asm/make_x86_64_sysv_elf_gas.S
patching file libs/context/src/asm/ontop_x86_64_sysv_elf_gas.S
patch unexpectedly ends in middle of line
patch: **** malformed patch at line 68:

I don't know if I should continue with step 4 or not

[2020-07-11 05:01] develCuy commented on #80
@cpsilent I missed to mention that you need a fresh extract of boost. So basically delete the boost folder, extract the tarball and continue from step 1. If the patch works, I would delete devcoin core folder and clone the repo again

[2020-07-11 05:23] cpsilent commented on #80
I got the same results deleting everything and downloading it all again:

I don't know if I did it right using wget to download the patch the way I did

[2020-07-11 05:42] develCuy commented on #80
@cpsilent, I fixed the patch. Please try again, same URL (make sure to delete any previous patch you did) and extract the tarball again prior to patching

[2020-07-11 06:03] cpsilent commented on #80
I did an `rm -R boost_1_68_0/` then extracted the tarball again. Downloaded the patch with wget with the same URL, but I still got the same error. Does wget have some kind of cache or could it be another URL?

patching file libs/context/src/asm/jump_x86_64_sysv_elf_gas.S
patching file libs/context/src/asm/make_x86_64_sysv_elf_gas.S
patching file libs/context/src/asm/ontop_x86_64_sysv_elf_gas.S
pat

[2020-07-12 03:34] develCuy commented on #80
You are right @cpsilent! I just updated the link to patch at https://github.com/devcoin/core/issues/80#issuecomment-656178623

[2020-07-12 05:23] cpsilent commented on #80
The good news is that the patch was applied successfully, but I still got compiling errors.  Some of them went away applying the fix you suggested me about `<typename Protocol, typename SocketAcceptorService>` and I got rid of most of them, but it seems there are some others that go beyond my google skills and programming knowledge. I find out additional ones compiling the BerkeleyDB and I will po

[2020-07-12 05:29] cpsilent commented on #80
Something I forgot to mention @develCuy  is that boot compiling ended successfully and without errors

[2020-07-12 05:37] cpsilent commented on #80
I'm gonna add the latest boost output in a txt file to show that your patch for boost worked perfectly. I think is much cleaner that way!
[boost.txt](https://github.com/devcoin/core/files/4908064/boost.txt)

[2020-07-12 06:28] develCuy commented on #80
@cpsilent, I guess that the bug has something to do with SSL and Boost, I'm confirming

[2020-07-12 07:06] develCuy commented on #80
@cpsilent, I tried myself and found same errors with boost 1.68.0, then tried with 1.65.0 and seems to work! I can't remember why I'm using 1.68.0 at this point. Btw, please pull latest core changes, the file build-mingw-under_linux.md has update instructions for building boost, then try to build core again

[2020-07-12 21:51] cpsilent commented on #80
@develCuy, Do I have to apply the patch to this boost too? It seems I'm getting the old errors in this version too in my three test environments. Here are the logs:

Linux Mint (Now version 20 Ulyana): [compilado boost 1_65_0 en linux mint 20.txt](https://github.com/devcoin/core/files/4909622/compilado.boost.1_65_0.en.linux.mint.20.txt)

Ubuntu 18.04.4 Virtual Machine: [compilado boost 1_65_0 en V

[2020-07-13 01:13] develCuy commented on #80
@cpsilent, Yes. Please follow the patch instructions here: https://github.com/devcoin/core/issues/80#issuecomment-656178623

[2020-07-13 04:47] cpsilent commented on #80
Success @develCuy! I could compile devcoind.exe in Linux Mint 20 and I even tried it on windows 10.  Below is a picture with the final result! Yay!

![Captura](https://user-images.githubusercontent.com/33723621/87271765-77f3f480-c491-11ea-9934-cb4bb2196f46.PNG)

[2020-07-13 05:44] develCuy commented on #80
@cpsilent finally! Yet we still have more to build:

- devcoind.exe 32bit version
- devcoin-qt.exe 64bit version
- devcoin-qt.exe 32bit version

Can you try a new build from scratch for 32bit?

[2020-07-13 05:48] cpsilent commented on #80
Sure thing! I will try that tomorrow! Doing it in any machine would work right? I mean, it's not necessary to have a 32 bit OS, right?

[2020-07-13 05:54] develCuy commented on #80
Yup, don't worry about that.

[2020-07-13 20:17] cpsilent commented on #80
Today I got mixed results compiling the code to 32 bits.  The patch was applied successfully, however, at the end of bost compiling it showed 3 errors. Since the patch was applied correctly, I continued with the wallet compiling and it succeeded, partially.  I was able to create the .exe file, but it seemed it didn't generate some of the dlls. I noticed that when I tried to package the Devcoind.ex

[2020-09-12 20:54] cpsilent opened #87 "Can't compile wallet in Lubuntu 20.04.1"
I did compile the wallet in Lubuntu 16.04.3 successfully using a Virtual Machine. However, while trying to move it to a system with Linux Mint 20 (based on Ubuntu 20.04) it didn't run.  So, after a while trying unsuccessfully to compile the wallet, I decided to compile it on a Virtual Machine using Lubuntu 20.04.1 (also based on Ubuntu 20.04) with the same results as in Linux Mint 20. Researching

[2020-09-21 05:09] develCuy commented on #80
@cpsilent I managed to update the compilation instructions for devcoind.exe. There is only one bug left for 32bit but compilation doesn't stops, the problem is on runtime, it generates a corrupted wallet. The 64bit built works just right from my end.

[2020-09-22 03:48] cpsilent commented on #80
Hey @develCuy! I successfully compiled the devcoind.exe 32bit and 64bit in Linux Mint 20 Ulyana and also ran it on a Windows 10 Virtual Machine(VM) and in a Windows 10 installation! However, I couldn't compile it in Ubuntu 18.04.4 VM but I don't know if that's by design now. I couldn't log the errors in the Ubuntu VM because I had a little problem and everything froze. If you want, I could try it

[2020-09-22 05:30] develCuy commented on #87
@cpsilent, if this has been resolved with latest changes at #80, then please close this issue

[2020-09-22 06:01] cpsilent commented on #87
Unfortunately, it hasn't. However, please note that I'm using a different set of instructions to build it. I need to figure out how to build the linux version deviating a little bit of the instructions set located at #80.

[2020-09-24 05:41] develCuy commented on #87
@cpsilent, we have reached a point where we can't upgrade dependencies and stay compatible current linux distros. The only way is to build statically linked binaries, which is the last resource. Can you try to build this experimental release of devcoin? https://github.com/devcoin/core/tree/devcoin0.9.2. Notice that the branch is devcoin0.9.2, so you have to do this: `git clone --branch=devcoin0.9.

[2020-09-24 21:22] cpsilent commented on #87
The problem is I'm not sure how to build it statically for linux. I had tried changing the target os in some of those commands to no avail.  That's something that goes beyond my knowledge and search skills. What can I do besides those changes to make it work on linux? After the devcoind compilation, it would be possible to compile the GUI using the instructions on Steemit/Hive or should I do that

[2020-09-24 21:32] develCuy commented on #87
@cpsilent please compile 0.9.2 with the instructions from steemit/hive, don't worry about statically linked binaries right now

[2020-09-25 01:10] cpsilent commented on #87
I downloaded the new branch files and when I tried to compile it, it showed the following error:
`make: makefile.unix: No such file or directory
make: *** No rule to make target 'makefile.unix'.  Stop.
`

[2020-09-25 03:07] develCuy commented on #87
Can you try this instructions instead: https://github.com/devcoin/core/blob/devcoin0.9.2/doc/build-unix.md

[2020-09-25 05:40] cpsilent commented on #87
At the end of this comment I will attach .txt files with the output problems.

I used the option to configure `--with-incompatible-bdb`, because the ppa added in the instructions doesn't have a Berkeley DB 4.8 package for the current os version (Focal Fossa which is the one Linux Mint Ulyana is based on), so, it was suggested to add that option in configure, in case there were no way to install th

[2020-09-25 07:52] develCuy commented on #80
@cpsilent, I managed to build devcoin-qt.exe on Archlinux, since it has excellent support for MinGW. The docs are updated briefly. Basically you can just run the compilation inside the docker container instance that is linked in the docs. You can also try a chroot (not recommeded) or install Archlinux in another partition (for advanced users only). Let me know what is your plan

[2020-09-25 19:41] cpsilent commented on #80
I think the best way I can do it is using a Virtual Machine (VM) as I was doing with Ubuntu. I could try to download Arch and reproduce the same steps you did. The problem is I don't have right now enough space to make another partition (I've done it before), and as you say, running it in chroot is something I'm wary of. So, I think the VM approach is the right one at the moment.

Please, let me k

[2020-09-26 20:54] develCuy commented on #80
@cpsilent, can you try docker? There you can find docker container that is ready to cross-compile: https://hub.docker.com/r/burningdaylight/docker-mingw-qt5

Also, you can always find up-to-date instructions here: https://github.com/devcoin/core/blob/master/doc/build-mingw-under_linux.md

[2020-09-29 06:08] cpsilent commented on #80
I set up a Virtual Machine (VM) using Virtual Box running Arch Linux 64bit with LXDE. I followed this set of instructions in here: https://github.com/devcoin/core/blob/master/doc/build-mingw-under_linux.md to compile the wallet and used this reference: https://hub.docker.com/r/burningdaylight/docker-mingw-qt5 to build the docker environment and set everything up. Additionally I installed from AUR

[2020-10-14 19:37] satoshi0x commented on #80
Would anyone who successfully compiled devcoin-qt.exe (64 bit or 32 bit or both) in Linux be willing to send me a link to download the compiled .exe version so I can try testing it on Windows 10 (I use Windows 10 like all the other normies :) )

[2020-12-01 17:07] satoshi0x commented on #85
Everything working wonderfully. First time I've had a client report I was 3 hours behind sync only to check our (only) block explorer to see the entire chain was stuck for the past three hours at the same block. When the block explorer (https://block.d.evco.in/chain/Devcoin) began moving forward again with blocks, my wallet showed it was "synced" again. Also I dig the orange sync bar over the gree

[2020-12-03 02:32] satoshi0x commented on #85
I have successfully sent transactions between my original devcoin wallet and addresses I've been using since the 32bit 0.8.5.1 beta build from devcoin.org I  started using in 2018 by a process that @develCuy instructed me to do on discord. I sent a transaction to an address I created from running a clean start of the new beta 64 bit version 0.8.0.7 for Windows that develCuy linked via discord in t

[2020-12-03 03:35] develCuy commented on #85
@cpsilent, based on @satoshi0x's report https://github.com/devcoin/core/issues/85#issuecomment-737622459, can you perform your own test? The idea is to send funds to a new wallet you create with the new build, then send those coins back to your an existing wallet. This test validates that the new build works well with old and new wallets

[2020-12-03 03:42] develCuy commented on #80
@cpsilent I managed to update the build docs. The process now involves using docker, so you don't need to setup a VM. Also, make sure to start over the process, since I have re-structured the process. Last but not least, the build is currently working for 64bits only, please ignore all 32bit stuff till further notice.

NOTE: If you are not familiar with docker, please document yourself well before

[2020-12-03 22:56] cpoliticas commented on #80
Success! I have successfully compiled and ran the 64 bit wallet on Windows 10 using dockers! I compiled it twice using two different containers with the same end result.

I synchronized also the blockchain successfully on my personal Windows 10 installation.

Here is the wallet before synchronization:

<img width="960" alt="devcoin01" src="https://user-images.githubusercontent.com/12700902/1010974

[2020-12-05 05:47] cpoliticas commented on #85
I tested sending some DVC from the old wallet to a new one using the wallet's version 0.8.7.0-g25a7d46-beta. I followed an analogue route with @satoshi0x having two directories: _devold_ with the old wallet and _devnew_ with the new wallet. To switch back and forth from the different wallets, I renamed the directories accordingly to _devcoin_, located under `AppData > Roaming` in Windows 10.

I se

[2020-12-06 01:37] cpsilent commented on #85
I tested sending some DVC from the old wallet to a new one using the wallet's version 0.8.7.0-g25a7d46-beta. I followed an analogue route with @satoshi0x having two directories: _devold_ with the old wallet and _devnew_ with the new wallet. To switch back and forth from the different wallets, I renamed the directories accordingly to _devcoin_, located under `AppData > Roaming` in Windows 10.

I se

[2020-12-06 01:40] cpsilent commented on #80
Success! I have successfully compiled and ran the 64 bit wallet on Windows 10 using dockers! I compiled it twice using two different containers with the same end result.

I synchronized also the blockchain successfully on my personal Windows 10 installation.

Here is the wallet before synchronization:

<img width="960" alt="devcoin01" src="https://user-images.githubusercontent.com/12700902/1010974

[2020-12-06 06:34] develCuy commented on #80
@cpsilent thanks for the feedback, I implemented your recommendations.

[2020-12-06 06:39] develCuy commented on #80
@cpsilent, we still need to work on the 32bit version, I hove to have some more progress soon. Also, are you able to deploy a Windows 32bit?

[2020-12-06 17:54] cpsilent commented on #80
@develCuy, I'm not sure if the Windows 10 ISO from MS has a 32 bit version, but I could try to deploy it on a Virtual Machine in Virtual Box if it they offer it.  Unfortunately, I can't install it on a HDD at the moment.

[2021-03-20 14:51] develCuy commented on #80
@cpsilent we gave it enough effort already. Many users have reported the 64bit version to work quite well. The problem with 32bit is not worth the effort to fix IMHO. Long history short, I declare this task DONE. Please provide your DVC address for paying the reward

[2021-03-20 15:12] develCuy commented on #85
We now have many users reporting the new 64bit wallet is working well. For example the following via keybase's devcoins team:

![image](https://user-images.githubusercontent.com/284466/111874772-ad2bdd00-8964-11eb-82ac-9c91cd093cea.png)

[2021-03-21 23:24] cpsilent commented on #80
@develCuy Fair enough. I agree with you.  Here is my DVC address: 122fZgNs8jL72jbUFstnpvG6EE8GFJA2Xr

Thank you so much!

[2021-03-22 13:55] satoshi0x commented on #80
The 64-bit works great for me. I synced it fresh by renaming my
%APPDATA%devcoin file devcoin-bkp as instructed then fresh synced by
launching 0.8.7.0... and letting it sync the entire chain. Then I did a
little magic but when I was done with that I put my wallet.dat from my
devcoin-bkp folder (which was the old Windows 32-bit v 0.8.5.1 from
devcoin.org I used since 2018) into the new "devcoin" fo

[2021-03-29 09:15] satoshi0x opened #88 "Solo mining Devcoins on Windows (not supported)"
Hi I was asked to relay this to the GitHub team for a member of our Keybase team.
![01941F9A-0204-497C-9A91-C2A843AFC700](https://user-images.githubusercontent.com/48847567/112814941-69606400-9045-11eb-908c-bc7c1f3f7c56.png)
![4B958740-1FC7-4C27-BEE6-C14A25A5A5B0](https://user-images.githubusercontent.com/48847567/112814945-6a919100-9045-11eb-86dc-80be1e83c0fe.png)

I will direct him here

[2021-04-25 22:03] develCuy commented on #88
Thanks for the feedback! If the users is trying solo-mining, we don't support it. The reason is that Devcoin is a merged mined coin, it is not profitable to solo-mine Devcoin because of difficulty design. Rather, we openly and kindly invite people interested on earning Devcoins to join the Devcoin Foundation (DF). You can contact us here: https://keybase.io/team/devcoins

[2021-04-26 17:59] #88 closed

[2021-04-26 18:09] develCuy commented on #80
This is how the reward has been distributed among contributors:

Developer: 89% * 10M DVC => 8,900,000.00 DVC paid to @develCuy's address 1DogCa5wiVZJWFnFDezuw5XssoWWabijnE txid
Tester 1: 10% * 10M DVC => 1,000,000.00 DVC paid to @cpsilent's address 122fZgNs8jL72jbUFstnpvG6EE8GFJA2Xr txid
Tester 2: 1% * 10M DVC => 100,000.00 DVC paid to @satoshi0x's address 16AJsk7oiNapaUx8Mnjs5sgQWWC8zd2Vy6 txid

[2021-04-26 18:17] #80 closed

[2021-09-26 22:27] older777 commented on #87
Hi. There's some compile issue on v0.8.8.0 compile in the Linux Mint 20.2 (Ubuntu Focal). Some problem is appear during compile. You have to install DB Berkley 4.8, 4.8++ from the sources ([bash](https://gist.githubusercontent.com/darosior/a5d93c6245a32f7a8bed2ac4e33a0011/raw/89c49515febbd55ffb60e4add9d08f299862cde4/install_libdb4.8.sh), [article](https://baloian.medium.com/how-to-setup-and-run-a-

[2021-09-27 20:39] develCuy commented on #87
@cpsilent, can you check @older777's instructions and provide test results?

[2021-09-27 23:37] cpsilent commented on #87
I tried to patch the file src/bitcoinrpc.cpp but the output was:

`~/core/src$  patch -p1 < bitcoinrpc.patch
can't find file to patch at input line 5
Perhaps you used the wrong -p or --strip option?
The text leading up to this was:
--------------------------
|diff --git a/devcoin-qt.pro b/devcoin-qt.pro
|index 455251e..acade3f 100644
|--- a/devcoin-qt.pro
|+++ b/devcoin-qt.pro
--------------------

[2021-09-28 04:08] older777 commented on #87
I think you have to go upper folder before patch ~/core$

[2021-09-28 21:13] older777 commented on #87
Got any success?
Look, the Devcoin [install instruction](https://github.com/devcoin/core/blob/master/doc/readme-qt.rst) wallet runs on Qt4. But Qt4 a bit obsolete. So let me note about of compilation for Qt5. Pls install next tools:
`sudo apt-get install libqt5core5a qt5-qmake qtpositioning5-dev qt5-default qttools5-dev-tools`
Compiled, works good.
![qt5](https://user-images.githubusercontent.com/

[2021-09-28 22:03] cpsilent commented on #87
I applied the patch successfully, but the compile process ended in error. Please refer to the file [compiling01.txt](https://github.com/devcoin/core/files/7247508/compiling01.txt) for further details. I will install the other tools you mentioned as soon as I can solve the compiling problem. Am I using the wrong branch? I'm using master at the moment. Thank you!

[2021-09-29 04:27] older777 commented on #87
The header file db_cxx.h means you didn't install DB Berkley 4.8, 4.8++?
Try locate file:
`art@art:/$ locate db_cxx.h`
it should be something like
`/include/db_cxx.h`
`/usr/local/docs/programmer_reference/upgrade_3_0_db_cxx.html`
`/usr/local/include/db_cxx.h`

If not found please [look for previous message](https://github.com/devcoin/core/issues/87#issuecomment-927382916)

[2021-09-29 05:48] cpsilent commented on #87
Compiling process is successful in Kubutnu 20.04.3 LTS!
![Screenshot_20210928_234437](https://user-images.githubusercontent.com/33723621/135210264-9471a5b9-afdc-47f8-a48e-49d5977cec95.png)

However, it shows me this error below and gets close

[code]

Should I try another branch to make it run properly? Thank you so much!

[2021-09-29 17:16] older777 commented on #87
Great @cpsilent!  Got errors cuz some nodes are dead in the list :) try download blockchain by the **devcoind** 👍

If blockchain is still able to get, so currency still alive yet. IMHO just necessary fix errors and make wallet able for any new OS. And everything would be OK. Am I right, @develCuy ? 😉

[2021-09-29 18:16] satoshi0x commented on #87
heh **some** nodes are dead... I think most of the data when I delete my debug log is trying to connect to dead nodes! :) but we're here great job guys 🥇

[2021-09-30 02:51] cpsilent commented on #87
Nice! Since the compilation process was a success in Linux and since the problem is unrelated to this issue, I will close this issue and I considered it as solved. I imagine you guys already opened a new issue related with those dead nodes. Thank you so much for all your help in getting this fixed!!!

[2021-09-30 02:51] #87 closed

[2021-10-09 04:27] satoshi0x commented on #85
that's cool @cpsilent very good news too it works great

[2021-10-09 05:41] develCuy commented on #85
@cpsilent I guess that we can merge commits from Syscoin, they closely follow latest Bitcoin development, yet I need to double check with them.

[2021-11-25 22:23] develCuy commented on #77
Good news! HTTPS support available in the majority of Devcoin Blockchain network:
![image](https://user-images.githubusercontent.com/284466/143504440-f649f2a3-6942-40c0-a349-ab117c52fbe7.png)

Time to switch to custodians to https

[2021-12-09 00:16] develCuy opened #90 "Deprecated 32bit support for Windows"
Should update build docs.

[2021-12-09 00:19] #90 closed

[2021-12-09 18:08] develCuy commented on #77
Status:
- Custodians ready ... check
- New Binaries available ... check
- People updating their wallets ... in progress

[2021-12-10 08:10] satoshi0x commented on #77
I'm up to date and the 0.8.9.0 version -beta runs GREAT on Windows 11 for
me :) Much appreciated - saw the copyrights updated to 2009-2021 Bitcoin
and Devcoin Developers. We are now just one version under the March 2014
rebrand of Bitcoin-Qt to Bitcoin Core and their core dev slashing of
OP_RETURN byes to 40 max. But dammit I like Counterparty. The XCP protocol
is hard to get into  Idon't buy BTC

[2021-12-13 17:09] develCuy commented on #73
Devcoin 0.9.2 is older than OpenSSL 1.1.x, it means that a lot of fixes we already figured out would need rework. For example:

https://github.com/devcoin/core/pull/45/commits

Also, there are many old branches left by @belovachap and @sidhujag. Branch [belovachap_devcoin0.9.2](https://github.com/devcoin/core/commits/belovachap_devcoin0.9.2) was merged into [devcoin0.9.2](https://github.com/devcoi

[2022-01-07 17:07] develCuy commented on #79
For the record, I did a few updates to the hardcoded testnet URLs, next step is to implement at least one seed node and test merged-mining or perhaps just solo mining since the testnet has no active miners.

[2022-01-12 23:57] develCuy commented on #77
Full HTTPS support is finally working!

![image](https://user-images.githubusercontent.com/284466/149241563-bee3c7a7-61f6-4cc7-bb93-85ef55f42b3c.png)

@cpsilent can you confirm that latest release is syncing beyond block 500000?

[2022-01-13 06:27] cpsilent commented on #77
I opened the wallet and synced perfectly. Below there's a screen capture showing the receiver_125.csv. Can I run it differently to show you a more scientific prove? I synced the wallet before doing the screen capture, unfortunately. Maybe with a debug command or something? From my end it looks pretty fine!

![receiver 125](https://user-images.githubusercontent.com/33723621/149276854-9f4ebeba-937b-

[2022-01-13 14:48] develCuy commented on #77
Thanks for reporting @cpsilent, can you confirm your DVC address for bounty payment?

[2022-01-15 07:25] develCuy commented on #73
For the record, Devcoin Core 22.0.0 is being worked into branch [22.x](https://github.com/devcoin/core/commits/22.x), so we need to rename this issue

[2022-01-16 04:54] cpsilent commented on #77
Sure thing, my DVC address is 14BL4enKz7LVbgVPQPQ3PUvETm58SA3Q8g Thank you!

[2022-01-16 15:51] develCuy commented on #77
This is how the reward has been distributed among contributors:

Developer: 90% * 10M DVC => 9,000,000.00 DVC paid to @develCuy's address 1DogCa5wiVZJWFnFDezuw5XssoWWabijnE 3b300a84a7a01a23f0ad736e3d045f3248dfae5ca721df0447c7ac62d1ac0d6c
Tester 1: 10% * 10M DVC => 1,000,000.00 DVC paid to @cpsilent's address 14BL4enKz7LVbgVPQPQ3PUvETm58SA3Q8g 6fd7228089c6a2a6e445ba3155802c1406be43a755b34171eca49d5

[2022-01-16 15:51] #77 closed

[2022-01-16 16:11] develCuy commented on #70
Work on #73 changed the game! Bitcoin Core 22.0.0 codebase compiles quite clean! This ticket is not a problem anymore

[2022-01-16 16:11] #70 closed

[2022-01-16 16:13] develCuy commented on #53
Since we are forking straight from Bitcoin Core 22.x (check #73), this issue has been solved already

[2022-01-16 16:13] #53 closed

[2022-01-17 13:58] belovachap opened #91 "Transfer Reddit Moderator"
Hi there, I don't pay much attention to the project these days and have been asked to swap out as reddit moderator.

They said to tell you it's Dan if that helps. If it's legit I'm happy to give the reins over to someone with eyes on the project :)

[2022-01-19 17:26] develCuy opened #92 "Segwit"
¿Should we allow Segwit format addresses in the new Devcoin 22.0.0?

[2022-02-03 05:51] develCuy opened #93 "Deploy Segwit - Bounty 10M DVC"
New Devcoin 22.x (see #73) comes with segwit support, yet there aren't any nodes supporting it, first we need the network to upgrade to 22.x, then do a softfork specific for Segwit. Such event is currently set to happen at Devcoin block 516000.

[2022-02-03 19:42] satoshi0x commented on #92
I have no technical basis for this but sure? Why not.

[2022-02-03 22:13] satoshi0x commented on #91
I asked for this privilege. Had no idea it was you @belovachap - I have studied your contributions in these branches and I am very very honored to speak with you. Don't be a stranger here - but I would love to take Reddit mod privs over and dress the place up a bit.

[2022-02-03 22:28] belovachap commented on #91
@satoshi0x I added you as a moderator. I'll drop off once we hear back from @develCuy.

[2022-02-04 01:23] develCuy commented on #91
Thank you @belovachap! @satoshi0x is Devcoin's Marketing guy so you did the right choice. Thank you!!

[2022-02-04 12:31] belovachap commented on #91
Transfer complete! 🚀

[2022-02-04 12:31] #91 closed

[2022-02-07 18:42] satoshi0x opened #94 "Alert Key Compromised message in v0.8.9.0 beta for Windows."
2022-01-31 2:53 PM CST: The "final alert" message "URGENT: Alert key compromised, upgrade required" is showing in my Devcoin-Qt client.

RPC for 'getinfo' shows the message, this is something I've never seen in Devcoin. Wondering why its showing up now?

Code:
{
"version" : 80900,
"protocolversion" : 70001,
"walletversion" : 60000,
"balance" : *********,
"blocks" : 502474,
"timeoffset" : 0,
"conne

[2022-02-10 02:21] develCuy commented on #92
Thanks for your feedback @satoshi0x! Let's make Segwit happen: #93

[2022-02-10 02:21] #92 closed

[2022-02-10 02:23] develCuy commented on #94
This is a very old known bug, all we have to do is ignore it till we can safely upgrade to 22.x

[2022-02-10 02:23] #94 closed

[2022-02-10 02:26] develCuy commented on #67
For the new Devcoin Core 22.x I did my best to move as much code as possible to devcoin.h and even devcoin.cpp but didn't liked the result, it only creates bloat for the builder. I prefer to keep code changes as clear as possible, same with commits for future reference.

[2022-02-10 02:26] #67 closed

[2022-02-10 02:29] develCuy commented on #73
@cpsilent code is ready for test builds. Please refer to: https://github.com/devcoin/core/blob/22.x/doc/build-unix.md

[2022-02-10 02:31] satoshi0x commented on #92
Yes. It will enable lightning payments and other goodies.

Daniel R. Treccia
***@***.***
keybase.io/satoshi0x

[2022-02-10 02:41] develCuy opened #95 "Replace receiver files suffixes for the corresponding tesnet subfolder path"
Devcoin 22.x has a working but outdated implementation for receiver files. Priorities to fix here:

1. Tesnet, Regtest and Sigtest have their own subfolders within data directory (i.e: .devcoin/ in Linux), receiver files should be downloaded into the respective subfolder
2. Suffixes for receiver files aren't working, we should remove that code in favor of the above.

We need #79 for working on tes

[2022-02-10 02:53] develCuy commented on #73
I managed to merge most of the code from [devcoin0.9.2MM](https://github.com/coinzen/devcoin0.9.2MM/). Syncing works 100% in my tests. Remaining commits are:

- https://github.com/devcoin/core/commit/83da9dd041b7a158c7451b7324f33d43105b2a7e For Android support (not in scope currently)
- https://github.com/coinzen/devcoin0.9.2MM/commit/e9cc196c37b3f03da274310341d7f35d218c8e79 BIP30 support for Devc

[2022-02-10 08:59] Bartascnk opened #96 "Bartascnk@gmail.com"

[2022-02-10 08:59] #96 closed

[2022-02-10 17:16] Traxo7 commented on #73
I got `libcurl not found` error after running:
[code]

It can be resolved with installing one of the following dependencies:
`libcurl4-gnutls-dev`,  `libcurl4-nss-dev` or `libcurl4-openssl-dev`

Example:
`sudo apt install libcurl4-openssl-dev`

[2022-02-10 20:05] cpsilent commented on #73
In Kubuntu 20.04.3 LTS I had the following error:

[code]

I followed the instructions in here: https://github.com/devcoin/core/blob/22.x/doc/build-unix.md It stopped in the "make" step.

[2022-02-11 06:11] develCuy commented on #73
@cpsilent, please pull and run make again

[2022-02-11 14:33] develCuy opened #97 "BUG: tinyformat: Too many conversion specifiers in format string"
I was running the new 22.x wallet (see #73) and it crashed. Got the following output in console:

[code]

[2022-02-11 14:36] develCuy commented on #97
This error might be related to LogPrint and LogPrintf, see https://github.com/bitcoin/bitcoin/issues/9423

[2022-02-11 20:18] develCuy commented on #73
@cpsilent, build works on my Mint 19 and @Traxo7's Mint 20. Kubuntu will have to wait for release candidate stage (we are kind of beta right now)

[2022-02-12 04:59] cpsilent commented on #73
I made a Virtual Machine using Virtual Box Versión 6.1.26_Ubuntu r145957 with Guest_Additions and installed a fresh Linux Mint 19 and upgraded it. After following [the same instructions](https://github.com/devcoin/core/blob/22.x/doc/build-unix.md#berkeley-db) and [Traxo's suggestions in here](https://github.com/devcoin/core/issues/73#issuecomment-1035189207), now I got the following error: [debug

[2022-02-12 15:45] develCuy opened #98 "Receivers v2.0 or DAO?"
Current implementation of receiver files describe how many Devcoins the beneficiaries should be paid on every block generation within a given round. Those payments didn't happen 100% of time for different situations:

1. Receiver files where not published on time
2. Receiver files were not in consensus (more than 50% of them should provide same info)
3. Miner's node were not able to download the r

[2022-02-13 15:35] develCuy commented on #73
@cpsilent, you are doing it right. Libcurl was missing in some makefiles, please pull run make again

[2022-02-15 15:24] develCuy opened #99 "What is the equivalent of Bitcoin's Satoshi (sat) in Devcoin?"
Satoshi (sat) is the smallest unit for 10^-8 in Bitcoin. Devcoin 0.8.x has no name for 10^-8 so it has no such option in QT wallet.

Should we name it for 22.x or stay with the 0.8.x approach?

[2022-02-15 20:14] develCuy commented on #73
For the record, this some data relevant to blocks raw files:
[code]

[2022-02-16 08:11] cpsilent commented on #73
I had now this new problem executing `make` command in Linux Mint 19: [debug linux mint19_02.txt](https://github.com/devcoin/core/files/8077936/debug.linux.mint19_02.txt)

Curiously, in Kubuntu 20.04.3 LTS the code now compiled well, but I had another problem this time in the `make install` command: [kubuntu20.04.3 LTS.txt](https://github.com/devcoin/core/files/8077938/kubuntu20.04.3.LTS.txt)

[2022-02-16 17:59] develCuy commented on #73
@cpsilent apparently in Kubuntu you are out of space. My build env has about 4GB. The big in Mint 19 should not happen, please clone a frech copy and follow build again

[2022-02-17 01:59] cpsilent commented on #73
Well, I got sweet-and-sour results with the new compile. Firstly, in Linux Mint 19 it shows a similar outcome as before. Here it is the compiling output: [debug linux mint19_03.txt](https://github.com/devcoin/core/files/8084867/debug.linux.mint19_03.txt)

On the other hand, I didn't compile again the Kubuntu build, I just thought that it was weird that I was running out of space when I had more th

[2022-02-18 02:49] develCuy commented on #73
@cpsilent your debug log shows that before the ./configure step you missed this one:

`$ export BDB_PREFIX='/home/test/core/db4'`

[2022-02-18 21:59] cpsilent commented on #73
You were right! I skipped it foolishly. Thank you! I also added a bit more of space, because it was too tight for my taste. The compilation process in Linux Mint 19 in my Virtual Machine worked flawlessly this time! Here it is a caption of the wallet running:
![Screenshot_20220218_155216](https://user-images.githubusercontent.com/33723621/154766923-29629b9d-5a81-4e24-8f10-174dba4e7c48.png)

As my

[2022-02-20 16:15] develCuy opened #100 "New Devcoin Fees"

[2022-02-21 19:14] develCuy commented on #73
@cpsilent, @Traxo7, can you guys pull and build again? I would like to test transfers and fees (see #100). You can create a new empty wallet to get a new address. Please report back here with tx ids and/or issues found. Thanks in advance!

[2022-02-22 05:49] cpsilent commented on #73
I pulled and built the code again for Kubuntu and Linux Mint Virtual Machine (VM).  I deleted the wallet created in the VM and synced it again from zero.  I sent two separate coins from 8:25  pm to 8:31 pm, but after 3 hours they never got confirmed. Both are latest version 22. Here is a screen caption of the transactions:
![Screenshot_20220221_234051](https://user-images.githubusercontent.com/337

[2022-02-25 01:07] develCuy commented on #73
@cpsilent, I did try to send 1 Devcoin to your address, it worked after a second try:

Status: 1/unconfirmed
Date: 24 Feb 2022 02:25
To: 15j7DZWayaieBxkfoDpMRrKgAA7GMpqiWj
Debit: -1.00000000 DVC
Transaction fee: -1.28500000 DVC
Net amount: -2.28500000 DVC
Transaction ID: aeb86b90db3c956fd4f9cdaa759d2a40a61885dd2923b34dafda01a661f38a03
Transaction total size: 257 bytes
Transaction virtual size: 257

[2022-02-27 05:40] cpsilent commented on #73
I tried doing it in several ways but unfortunately, I couldn't make it work. This was the last stone I tripped over:
![imagen](https://user-images.githubusercontent.com/33723621/155869666-b19b2ecd-1a45-41ff-8a31-289fa195698f.png)

I don't know what else to do

[2022-02-27 15:03] develCuy commented on #73
@cpsilent, apparently your wallet.dat got upgraded by new Devcoin QT. Do you have a backup copy of your original wallet.dat?

[2022-03-01 21:06] satoshi0x commented on #98
DAO for sure.

[2022-03-01 21:07] satoshi0x commented on #99
1 sat = 1 sat. Devcoin to the MOON! lets tether it to BTC after that :)

[2022-03-03 17:42] cpsilent commented on #73
Sorry, for answer this late. I was pretty busy. Well, I have a good backup of my old wallet, but the new one, inside the VM, it's a 0.22 only, unfortunately. I don't know if you are referring to my main old one, or the new test one.

[2022-03-07 02:58] develCuy commented on #73
@cpsilent, if you create a wallet with 22.x (not 0.22) you can't open it with 0.8.x. Btw, you don't need to open the same wallet twice, you only need an old 0.8.x node running locally and helping you to broadcast the transaction, so you can create a new empty wallet with 0.8.x

[2022-03-07 21:34] satoshi0x commented on #99
1 "met" as in Mark Metson - our creator of Devcoin.

[2022-03-08 00:40] develCuy commented on #99
We also have Unthinkingbit as founder, but "met" fits just perfect IMHO. So we can have Metson (met) as smallest Devcoin unit.

@Traxo7, @cpsilent, can I have your opinion?

[2022-03-10 17:39] Traxo7 opened #101 "ERROR: Assertion `auxpow != nullptr' failed. Aborted (core dumped)"
It seems that my `devcoind` process crashes when somebody tries to connect to the node (perhaps there is another reason, I am not sure). Here is the thrown error:
[code]

Here is my config file:
[code]

[2022-03-11 06:58] develCuy commented on #73
@cpsilent, @Traxo7, I just pushed new code with VERY important changes, please clone a fresh copy and perform the build again

[2022-03-31 07:18] satoshi0x commented on #73
Ok I tried and got so close. SO CLOSE. But somehow fudged the ending. Will attempt again tomorrow on my pathetic tech brain with a lil college try :)

[2022-04-01 03:51] Satoshi0x commented on #1
I know this is closed but isn't there something about Debian 7 as well as leveldb that caused the blockchain fork when bitcoind v0.7 (using BDB 4.8) were rejecting a block that miners using v0.8 (ldb) accepted with too many txns for BDB 4.8 to have "locks" for (10,000 limit)? Then the whole fiasco where devs had to influence all the v0.8 bitcoind miner pools (70% of the miners at the time) to mine

[2022-04-02 04:59] Satoshi0x commented on #73
my first 22.x Devcoin Core address: 1Kq7cdCaazPc6da5J2xktoiPZjxFMio6Wb
![image](https://user-images.githubusercontent.com/48847567/161367030-a60dccb3-0327-4d0c-aa8a-3058e60cce54.png)

[2022-04-09 22:31] cpsilent commented on #73
Sorry for the long delay. I  successfully pushed the transaction using your method above described. However, to take it out of the VM wallet, I had to do the same, this time connecting to the old client coexisting in the VM. So, I can confirm the wallets aren't connecting to the nodes by themselves, only using the old client.

Here is the obligatory caption
![Screenshot_20220409_162339](https://us

[2022-04-10 22:06] develCuy commented on #73
@cpsilent, great news! Let me answers point by point:

1. The actual bug is outgoing transactions not being included in new blocks, I don't know exactly why
2. What we know is that the new wallet is able to connect to existing 0.8.x and 22.x nodes, and to sync with the blockchain
3. Sometimes outgoing transactions work, sometimes doesn't. It *might be* due to some miners rejecting transactions gen

[2022-04-10 22:27] cpsilent commented on #73
Sorry for the long delay. I  successfully pushed the transaction using your method above described. However, to take it out of the VM wallet, I had to do the same, this time connecting to the old client coexisting in the VM. So, I can confirm the wallets aren't connecting to the nodes by themselves, only using the old client.

Here is the obligatory caption
![Screenshot_20220409_162339](https://us

[2022-04-17 02:39] Satoshi0x commented on #73
I was able to receive 1 DVC on Devcoin Core from my Devcoin-Qt 0.8.9.0 beta version on April 2, 2022 and I tested a payment to myself out of curiosity from Devcoin Core 22.x running on another computer April 16, 2022 so the outgoing txn had no problem confirming quickly from my Devcoin Core 22.x build. Wondering if you want us sending anything back from 22.x to Devcoin-Qt 0.8.9.0? Not sure if that

[2022-04-17 06:13] develCuy commented on #73
@Satoshi0x, yes, we are testing transfers from the 22.x wallet. Also, worth to note that coins are transferred only if mining nodes accept a given transaction. Somehow transactions from 22.x wallets seem to be ignored by miners. It is not happening always but frequently enough to look for a fix. In the mean time 22.x is still beta

[2022-04-26 03:51] Satoshi0x commented on #101
Don't we use port 52333 for RPC? Why are you using 8999?

[2022-04-26 03:59] Satoshi0x commented on #73
Just sent another from 0.8.9.x to 22.x. No problem. :P

[2022-05-02 13:58] Satoshi0x commented on #101
Your problem could be you're using the old 2012 port for merge mining at pool.devcoin.org

That TCP/8999 port is used for a lot of things but the traffic could be too much with Apple having its iTunes Web Streaming services there and Internet Radio: https://www.adminsub.net/tcp-udp-port-finder/8999

[2022-05-27 14:44] develCuy opened #102 "Continuous integration (CI)"
Please report here any issues or bugs from github builds

[2022-06-04 05:29] develCuy opened #103 "Assets attribution"
Copyright notices aren't accurate, we have different artwork and Bitcoin Developers should be granted Bitcoin credits, for Devcoin we have other people involved and should be mentioned as accurately as possible.

https://github.com/devcoin/core/blob/master/contrib/debian/copyright

[2022-06-06 03:06] Satoshi0x commented on #102
![image](https://user-images.githubusercontent.com/48847567/172087827-d2b2131d-47cc-48e0-8f69-b80b3a811bf5.png)

[2022-06-06 03:10] Satoshi0x commented on #102
And you fixed it with me on Telegram :)
![image](https://user-images.githubusercontent.com/48847567/172088196-74785c2a-a9b1-43c5-b90f-8db696b63db1.png)
Syncing.

[2022-06-11 05:28] Cminor-pools opened #104 "Hi guys, cant merge mine, missing rpc aux calls, no getauxblock or createauxblock/submitauxblock"

[2022-06-12 22:30] develCuy commented on #104
@Cminor-pools, RPC calls createauxblock and submitauxblock are now available in latest code (master branch). Please build again and let us know how it works your side.

[2022-06-15 20:00] develCuy opened #105 "Fix bench_bitcoin on auxpow branch"
See: https://github.com/namecoin/namecoin-core/issues/273

[2022-09-18 01:36] develCuy opened #106 "Keep same address prefixes as Bitcoin"
Is there any valid reason to not use Bitcoin address prefixes? We aren't on 2013 any longer, nowadays crypto users very well know when they are using Bitcoin or an altcoin. Ethereum alts use use the same 0x prefix and nobody complains, actually Metamask makes a great job at showing up what network you are connected to. Devcoin could have a nice SPV client like PaliWallet, which will provide a simi

[2022-09-19 03:17] Satoshi0x commented on #106
https://chrome.google.com/webstore/detail/mpurse/ljkohnccmlcpleonoiabgfggnhpkihaa

Works on Monaparty but uses Monacoin standard P2PKH address (M-prefix). Magic Web 3 chrome extension but no EVM needed. ;) The possibilities to just use our own addresses in Web 3 :)

[2022-09-19 07:37] Satoshi0x commented on #106
Maybe our address is best remaining the same for an additional reason that our genesis is peculiar and interesting in that it is for 50.00000000 when using emfox's d.evco.in Abe 0.8 explorer "Devcoin 0" :) I also think it's cool bc Mark was the one who created the genesis block per the original thread in Bitcoin Development of the Bitcoin Forum when UTB began Groupcoin devel with a bounty and then